
<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Edit Document</h3>
</div>
<div class="modal-body" id="modal-body">

    <div class="row">
        <div class="col-md-12">
            <div class="appDocData">
                <form >
                    <input type='hidden' class="form-control" ng-model="appDocData.document_guid"/>
                    <input type='hidden' class="form-control" ng-model="appDocData.active_flg"/>
                    <div class="form-group required col-sm-8">
                        <label class="control-label" >Document Name :</label>
                        <div class='' style="position:relative">
                            <input type='text' id="appEditingDocName" ng-required='true' class="form-control" ng-model="appDocData.document_name"/>
                        </div>
                    </div>
                    <div class="form-group col-sm-4">
                        <label class="control-label " >Public :</label>
                        <div class='' style="position:relative">
                            <input type='checkbox' class='docPublicBox' ng-model='appDocData.public_access_flg'/>
                            <span id="helpBlock2" class="help-block uploadDocPublic">"Note: If checked,this document will be made visible to public users "</span>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="form-group col-sm-4">
                        <label class="control-label " >Document Type:</label>
                        <div class='' style="position:relative">
                            <select class="form-control" id="appEditingDocType" ng-model='appDocData.document_type_desc'>
                                <option value="">None</option>
                                <option ng-value="type" ng-repeat="type in docTypeList">{{type}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group col-sm-4">
                        <label class="control-label " >Document Status:</label>
                        <div class='' style="position:relative">
                            <select class="form-control" id="appEditingDocStatus" ng-model='appDocData.document_status_desc'>
                                <option value="">None</option>
                                <option ng-value="status" ng-repeat="status in docStatusList">{{status}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group col-sm-4">
                        <label class="control-label " >Document Tags:</label>
                        <div class='' style="position:relative">
                            <select class="form-control" ng-model="appDocData.documentTag" ng-change="includeTag($event)">
                                <option value="">None</option>
                                <option ng-value="tag" ng-repeat="tag in docTagsList">{{tag}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-12" id="uploadDocTags" ng-if="selectedTags.length >= 1">
                        <span class="selectedTag" ng-click="activateTags(selectTag,$event)" ng-repeat="selectTag in selectedTags">{{selectTag}}</span>
                        <span class="deleteTag btn" ng-click="excludeTags()"><i class="fa fa-trash"></i></span>
                    </div>
<!--                    <div class="form-group col-sm-12">
                        <label class="control-label " >Add File(s):</label>
                        <div class='' style="position:relative">
                            <input type="file" id="appUploadDoc" ng-model="appDocData.document" class="form-control" multiple>
                        </div>
                    </div>-->
                </form>
            </div>

        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="uploadEditDoc()">Save</button>
    <button class="btn btn-warning" ng-click="uploadCancel()">Cancel</button>
</div>
