<div class="row notes-and-documents" ng-if="!appNtndDc.showErrorMessage">
    <div class="col-md-12">
        <!-- Notes accordian -->
        <uib-accordion>
            <div uib-accordion-group is-open="true" is-disabled="true"  class="panel-default notes-groups" is-open="appNtndDc.notesAccordionOpenCloseStatus">
                <uib-accordion-heading>
                    <div class="row">
                        <h5 class="pull-left">Notes</h5>
                        <button class="btn btn-primary pull-right" ng-click="appNtndDc.addNewNoteGroup($event)">
                            <i class="fa fa-plus"></i>  Start New Topic</button>

                        <form class="form-inline pull-right" style="display:inline;margin-right: 15px;">
                            <!--                            <div class="form-group">
                                                            <input type="text" placeholder="search by tags"
                                                            class="form-control" ng-model="searchNoteGroup.tags.tag_desc">
                            
                                                            <ui-select  ng-model="selectedTag" theme="bootstrap"
                                                                        title="search by tags" style="width: auto" append-to-body="true" on-select="onTagSelected($item)">
                                                                <ui-select-match allow-clear="true" placeholder="search for tag">{{$select.selected.tag_desc}}</ui-select-match>
                                                                <ui-select-choices repeat="tag in appNtndDc.allAvailalbeTags | filter: {tag_desc: $select.search}">
                                                                    <div ng-bind-html="tag.tag_desc | highlight: $select.search"></div>
                                                                </ui-select-choices>
                                                            </ui-select>
                                                        </div>-->
                            <div class="input-group appnotesFilter" style="margin:0 10px 0"> 
                                <input typeahead-min-length="0" type="text" placeholder="Search using Tags" ng-model="search.notesTag" ng-model-options="modelOptions"
                                       uib-typeahead="tag as tag.tag_desc for tag in appNtndDc.allAvailalbeTags | filter:{tag_desc:$viewValue}" class="form-control pull-right" style="cursor: text; width: 200px; text-align: left;">

                                <div class="input-group-addon" ng-click="search.notesTag = undefined"><i class="fa fa-times"></i></div>
                            </div>
                            <div class="form-group">
                                <div class="btn-group pull-right" uib-dropdown>
                                    <span id="split-button" type="button" class="btn btn-primary" style="margin:0 !important">Sort By Date</span>
                                    <button type="button" class="btn btn-primary" uib-dropdown-toggle>
                                        <span class="caret"></span>
                                        <span class="sr-only">Split button!</span>
                                    </button>
                                    <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="split-button"  ng-init="sortOrder = false">
                                        <li role="menuitem" ng-click="sortOrder = true"><a href="#">Newest</a></li>
                                        <li role="menuitem" ng-click="sortOrder = false"><a href="#">Oldest</a></li>
                                    </ul>
                                </div>
                            </div>
                        </form>
                    </div>

                </uib-accordion-heading>

                <!-- Note Group accordian -->
                <uib-accordion ng-repeat="noteGroup in appNtndDc.noteGroups| filter:{tags: {tag_desc:search.notesTag.tag_desc}} | orderBy:'created_date':sortOrder ">
                    <div id="appNoteGroup-{{noteGroup.note_group_guid}}" uib-accordion-group class="panel-default notes-div" is-open="appNtndDc.notesAccordionArray[$index]" >
                        <!-- note Group title -->
                        <uib-accordion-heading>
                            <div style="height:30px;" class="noteGroupDiv">
                                <i class="fa" ng-class="{'fa-chevron-down': appNtndDc.notesAccordionArray[$index], 'fa-chevron-right': !appNtndDc.notesAccordionArray[$index] }"   ></i>
                                <h4 class="heading" style="font-family:'Courier New';display: inline-block;margin: 0 5px">{{noteGroup.note_group_title}}</h4>

                                <button class="btn btn-warning" style="border-radius: 50px; padding: 5px 5px 0 4px">
                                    <i class="fa fa-expeditedssl" ng-if="noteGroup.sadc_flg" style="font-size: 24px"></i>
                                </button>
                                <button class="btn btnNotes btn-info pull-right">
                                    <i ng-disabled="!noteGroup.sadc_flg" class="fa fa-cloud-download" style="margin: 2px 3px"
                                       ng-click="appNtndDc.downloadPDFNote($event,noteGroup.note_group_guid)"></i> 
                                </button>
                                <button class="btn btnNotes btn-danger pull-right">
                                    <i ng-disabled="!noteGroup.sadc_flg" class="fa fa-trash"
                                            ng-click="appNtndDc.deleteNoteGroup($event, noteGroup.note_group_guid)"></i>
                                </button>
                                <button class="btn btnNotes btn-info pull-right">
                                    <i ng-disabled="!noteGroup.sadc_flg" class="fa fa-pencil"
                                            ng-click="appNtndDc.editNoteGroup($event, $index)"></i>
                                </button>
                                <button class="btn btnNotes btn-success pull-right">
                                    <i ng-disabled="!noteGroup.sadc_flg" class="fa fa-plus"
                                            ng-click="appNtndDc.addNewNote($event, noteGroup.note_group_guid)"></i>
                                </button>

                                <span class="pull-right update-details" style="margin:8px 10px 0 0;">
                                    <i  class="fa fa-user-o" ></i>
                                    <span style="opacity:.6;">
                                        {{ noteGroup.last_edited_user}} | {{ noteGroup.last_edited_date | date }}
                                    </span>
                                </span>

                                <form class="form-inline pull-right" style="display:inline;margin-right: 15px;"
                                      ng-if="appNtndDc.notesAccordionArray[$index]"
                                      ng-click="$event.stopPropagation();$event.preventDefault();">
                                    <!--<div class="form-group">-->
                                    <!--<label style="font-weight:normal !important;"> Sort By: </label>-->
                                    <!--<select class="form-control input-sm" ng-model="FNADC.notesSortByOption[$index]"-->
                                    <!--ng-change="FNADC.notesSortBy($index)">-->
                                    <!--<option value="latest">Newest</option>-->
                                    <!--<option value="old">Oldest</option>-->
                                    <!--</select>-->
                                    <!--</div>-->
                                    <div class="form-group">
                                        <div class="btn-group pull-right" uib-dropdown>
                                            <span type="button" class="btn btn-primary" style="margin:0 !important">Sort By Date</span>
                                            <button type="button" class="btn btn-primary" uib-dropdown-toggle>
                                                <span class="caret"></span>
                                                <span class="sr-only">Split button!</span>
                                            </button>
                                            <ul class="dropdown-menu" uib-dropdown-menu role="menu"
                                                aria-labelledby="split-button"  ng-init="sortOrder = false">
                                                <li role="menuitem" ng-click="appNtndDc.notesSortBy($index, 'latest')"><a href="#">Newest</a></li>
                                                <li role="menuitem" ng-click="appNtndDc.notesSortBy($index, 'old')"><a href="#">Oldest</a></li>
                                            </ul>
                                        </div>
                                    </div>

                                </form>
                            </div>
                        </uib-accordion-heading>

                        <h5>
                            <strong> Tags :  <span  ng-repeat="tag in noteGroup.tags" class="label label-info right-margin" >{{ tag.tag_desc}}</span>  </strong>
                        </h5>
                        <!-- note group notes -->
                        <dr-app-note ng-repeat="note in noteGroup.notes" refresh-fn="appNtndDc.refreshNoteGroups()"
                                     note="note" sadc-flg="noteGroup.sadc_flg">

                        </dr-app-note>
                    </div>
                </uib-accordion>
            </div>
        </uib-accordion>
    </div>
</div>
<div class="row" ng-if="appNtndDc.showErrorMessage">
    <div class="col-md-12">
        <img ng-src="{{appNtndDc.errorImageURL}}">
    </div>
</div>
