<div class="icon-bar application-bar appMenu" >
    <a ui-sref="app.application.appinfo" ui-sref-active="selectLi" title="Application Information">
        <i class="fa fa-info-circle"><span>Application Information</span></i>
    </a>
    <a ui-sref="app.application.viewedit" ui-sref-active="selectLi" title="View/Edit Application">
        <i class="fa fa-pencil-square-o"><span>View/Edit Application</span></i>
    </a>
    <a ui-sref="app.application.apptasks" ui-sref-active="selectLi" title="Application Tasks">
        <i class="fa fa-list-ul"><span>Application Tasks</span></i>
    </a>
    <a ui-sref="app.application.todoitems" ui-sref-active="selectLi" title="ToDo Items">
        <i class="fa fa-check-square-o"><span>ToDo Items</span></i>
    </a>
    <a ui-sref="app.application.appnotes" ui-sref-active="selectLi" title="Application Notes">
        <i class="fa fa-files-o"><span >Application Notes</span></i>
    </a>
    <a ui-sref="app.application.appdocs" ui-sref-active="selectLi" title="Application Docs">
        <i class="fa fa-file"><span >Application Docs</span></i>
    </a>
    <a ui-sref="app.application.map" ui-sref-active="selectLi" title="Map">
        <i class="fa fa-map"><span >Map</span></i>
    </a>
    <a ui-sref="app.application.scores" ui-sref-active="selectLi" title="Scores">
        <i class="fa fa-balance-scale"><span >Scores</span></i>
    </a>
</div>